header,
main,
footer {
  border: 1px solid #000000;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}
.nav {
  background-color: #1fbbe6;
  padding: 10px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
/* .nav-item {
  padding: 0 20px;
} */

.nav-link {
  padding: 0 20px;
  font-size: 16px;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.profile {
  margin: 10px;
  display: flex;
  justify-content: space-around;
}

.profile-info {
  text-align: center;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #086079;
}

.profile-info p {
  font-size: 1.5em;
  letter-spacing: 0.1em;
}
